.pop-up-balloons-game {
    box-sizing: border-box;
    padding: 0.625rem;
    height: 100%;
    overflow: hidden;

    &__game {
        width: 100%;
        height: 100%;
    }

    &__balloon {
        position: absolute;
        left: 0;
        box-sizing: border-box;
        border: 1px solid red;
        padding: 0.3125rem 0.625rem;
        text-align: center;
        display: flex;
        flex-direction: column;

        & span {
            font-size: 1rem;
            color: #000;
        }
    }
}
