.pop-up-balloons-game {
    box-sizing: border-box;
    padding: 0.625rem;
    height: 100%;

    &_isGameRunning {
        overflow: hidden;
        background: url(./img/background.png) center/cover no-repeat;
    }

    &__game {
        width: 100%;
        height: 100%;
    }
}
