.pop-up-balloons-game {
    box-sizing: border-box;
    padding: 0.625rem;
    height: 100%;
    &__game {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__balloon {
        box-sizing: border-box;
        border: 1px solid red;
        height: fit-content;
        width: fit-content;
        padding: 0.3125rem 0.625rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 1.875rem;

        & span {
            font-size: 1rem;
            color: #000;
        }
    }
}
