.button {
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    outline: none;
    background-color: transparent;
    margin-right: 0.3125rem;
    cursor: pointer;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #e5e5e5;
    transition: 0.25s;
    background-color: #1786c2;
    max-height: 2rem;

    &:hover {
        background-color: #fff;
        border: 0.0625rem solid #1786c2;
        color: #1786c2;
    }
    &_type {
        &_copy {
            margin-left: 1rem;
        }
    }
    &_active {
        background-color: #fff;
        border: 0.0625rem solid #1786c2;
        color: #1786c2;
    }
    &_background {
        &_red {
            background-color: red;
            &:hover {
                color: red;
                border: 0.0625rem solid red;
            }
        }
        &_green {
            background-color: green;
            &:hover {
                color: green;
                border: 0.0625rem solid green;
            }
        }
    }
}
